// Colors
$red: #e82b2b;
$white: #fff;
$baseGray: #f1f3f6;
$skyBlue: #cbedfd;
$lightBlue: #4269ea;
$marineBlue: #007fae;
$goldenRod: #ff9f00;
$baseButton: #f7ad22;
$goldenStar: #f7ce23;
$barneyPurple: #a6009b;
$pink: #e7c9eb;
$discountedPriceText: #4d4d4d;
$priceText: #969595;
$discountText: #44b345;

$shadow: 0 3px 6px 0 rgba(0, 100, 137, 0.21);
$ribbonBorder: 5px solid #2980b9;
$ribbonBg: #3498db;

$breakpoint-lg: 1200px;
$breakpoint-md: 950px;
$breakpoint-sm: 700px;
